<footer>
    <div class="footer">
        <div class="row">
            <div class="col-md-5 col-5">
                <div class="footer-card">
                    <h3>HealthHive</h3>
                    <p><a href=""> 2023 HealthHive Inc. All right reserved</a></p>
                    <p><a href="">Legal information</a></p>
                    <h5>Follow Us</h5>
                    <div class="footer-card-icons">
                      <a href="https://www.instagram.com/"><img src="./images/instagram.svg" class="footer-card-icon" alt=""></a>
                      <a href=""><img src="./images/twitch.svg" class="footer-card-icon" alt=""></a>
                      <a href="https://www.youtube.com/"><img src="./images/youtube.svg" class="footer-card-icon" alt=""></a>
                      <a href=""><img src="./images/whatsapp.svg" class="footer-card-icon" alt=""></a>
                      <a href="https://www.facebook.com/"><img src="./images/facebook.svg" class="footer-card-icon" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-7">
                <div class="footer-list">
                    <div class="row">
                        <div class="col-md-6 col-6">
                            <dl>
                                <dt>Resources</dt>
                                <dd><a href="#">Free Ebook</a></dd>
                                <dd><a href="#">Learn Wordpress</a></dd>
                                <dd><a href="HealthHive_Blog.html">HealthHive Blog</a></dd>
                            </dl>
                            <dl>
                                <dt>What We Do</dt>
                                <dd><a href="#">Countries</a></dd>
                                <dd><a href="#">Procurement</a></dd>
                                <dd><a href="#">Feature</a></dd>
                            </dl>
                        </div>
                        <div class="col-md-6 col-6">
                            <dl>
                                <dt>Learn More</dt>
                                <dd><a href="#About">About Us</a></dd>
                                <dd><a href="./subscription.html">Subscribe</a></dd>
                                <dd><a href="contact.html">Contact Us</a></dd>
                            </dl>
                            <dl>
                                <dt>Get Support</dt>
                                <dd><a href="#">Support Forum</a></dd>
                                <dd><a href="#">Decimentation</a></dd>
                                <dd><a href="#">FAQ</a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</footer>