<nav class="sub-nav">
    <input type="checkbox" id="check">
    <label for="check" class="check-btn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo" for=""> <a href="/"> Health<span>Hive</span></a></label>
    <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="./home.html#Service">Services</a></li> -->
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/subscription">Pricing</a></li>
        
        <!-- <li><a href="./profile.html">Profile</a></li> -->
        <li><a href="/login">Login</a></li>

    </ul>
</nav>